body {
      background-color: #d9d9d4;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      }
#fieldName {

      font-weight: bold;

      }
#footer {
      background-color: #CEB934;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      background: #CEB934;
      background: -webkit-linear-gradient(#CEB934 0%, #A2A488 79%, #B0C59A 100%);
      background: -o-linear-gradient(#CEB934 0%, #A2A488 79%, #B0C59A 100%);
      background: linear-gradient(#CEB934 0%, #A2A488 79%, #B0C59A 100%);
      }
#demo {
    background: #CEB934;
    background: -webkit-linear-gradient(#fffff0 0%, #f3f3d3 79%, #f0efc7 100%);
    background: -o-linear-gradient(#fffff0 0%, #f3f3d3 79%, #f0efc7 100%);
    background: linear-gradient(#fffff0 0%, #f3f3d3 79%, #f0efc7 100%);
    }

.card {
    background: #CEB934;
    background: -webkit-linear-gradient(#eae9ae 0%, #f3f3d3 79%, #f0efc7 100%);
    background: -o-linear-gradient(#fffff0 0%, #f3f3d3 79%, #f0efc7 100%);
    background: linear-gradient(#fffff0 0%, #f3f3d3 79%, #f0efc7 100%);
    border: 2px solid;
    padding: 5px;
    }
.caption {
    font-size: 15px;
    text-align: center;
    }
table {
    border-spacing:30px;
}
h1 {
    background: #CEB934;
    background: -webkit-linear-gradient(#eae9ae 0%, #f3f3d3 79%, #e0df8a 100%);
    background: -o-linear-gradient(#eae9ae 0%, #f3f3d3 79%, #f0efc7 100%);
    background: linear-gradient(#eae9ae 0%, #f3f3d3 79%, #f0efc7 100%);
    }
